@font-face {
  font-family: 'futuramedium';
  src: url('../src/fonts/futura_medium-webfont.woff2') format('woff2'),
  url('../src/fonts/futura_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: futuramedium, sans-serif;
  color: white;
}
html{
    background-color: #282c34;
}
.app{
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
html{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}
p{
    padding: 30px;
}
.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    background-color: #282c34;
    z-index: 999;

}
.dun{
    background-image: url("../src/images/tyres.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    width: 100%;
    height: 30vh;
    z-index: 0;
}
.dunno{
    background-image: url("../src/images/bmw-r-1200-gs-adventure-01.1200.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    width: 100%;
    height: 30vh;
    z-index: 10;
}
.dunnosecond{
    background-image: url("../src/images/RIDEWELLRebuild-AftertheTeardownRIDEWELL.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    width: 100%;
    height: 30vh;
    z-index: 20;
}
.dunnothird{
    background-image: url("../src/images/2014-BMW-R1200-GS-Adventure-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    width: 100%;
    height: 30vh;
    z-index: 30;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.mainLogo {
    width: auto;
    height: 15vh;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.textforinvi {
    color: #d9f3ff;
    font-size: 1.5em;
    z-index: 100;
    line-height: 2;
}
.menuElement {
    display: flex;
    justify-content: center;
    vertical-align: center;
    margin: 15px;
    white-space: nowrap;
    font-weight: bold;
    background: none;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    border: 3px solid red;
    padding: 5px 10px;
    text-align: center;
}
.menuElement span {
    font-size: 24px;
    line-height: 2;
}

.menuElement span:hover {
    color: red;
    cursor: pointer;
}

.image {
    width: 100vw;
    height: auto;
}
.offer {
    width: 100%;
    height: 70vh;
    background-image: url("../src/images/second.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: static;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
 }
.offers {
    display: flex;
    justify-content: space-evenly;
    vertical-align: center;
    padding: 20px;
}

.hours span{
    margin: 10px;
    padding-left: 10px;
    font-size: 1.5em;
}
.sendUserToOtomoto {
    position: absolute;
    background-color: #282c34;
    bottom: 30%;
    color: white;

    height: 10vh;
    font-weight: bolder;
    font-size: 1.5em;
    line-height: 2;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    border: 3px solid red;
    padding: 10px 15px;
    transition: all .2s ease-in-out;
}

.otoBanner{
    height: 25vh;
}
.map{
    width:600px;
    height:450px;
    border: 0;
}
.spacer {
    position: relative;
    background-color: #971f1f;
    height: 6vh;
    display: flex;
    justify-content: center;

}
.spacer::before{
    position: absolute;
    top: -15px;
    background-color: #971f1f;
    transform: rotate(45deg);
    content: "";
    height: 30px;
    width: 30px;
    z-index: 50;
}
.spacer::after{
    position: absolute;
    bottom: -14px;
    background-color: #971f1f;
    transform: rotate(45deg);
    content: "";
    height: 30px;
    width: 30px;
    z-index: 50;

}
.hoursColumn{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    background-color: #282c34;
    border: 3px solid red;
}
.aboutDiv{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
.aboutDiv div{
    display: flex;
    width: 50%;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}
.textDiv{
    display: flex;
    padding: 15px;
    text-align: center;

}
.photoDiv{
    width: 50%;
    background-image: url("../src/images/2014-BMW-R1200-GS-Adventure-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 1025px)  {
    .header {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }
    .rowOrColumn{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .textDiv{
        width: 35%;
    }
    .contactShit{
        background-image: url("../src/images/first.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
        flex-direction: row;
    }
    .pageContent{
        padding-top: 17vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-position-y: top;
    }
    .maps {
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .hours{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .sendUserToOtomoto:hover{
        transform: scale(1.1);
    }
    .sendUserToOtomoto a:hover {
        color: red;

    }
}
@media (min-width: 320px) and (max-width: 1024px) {
    .header {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .rowOrColumn{
        display: flex;
        flex-direction: column;

    }
    .contactShit{
        background-image: url("../src/images/first.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
        flex-direction: column-reverse;
    }
    .pageContent{
        padding-top: 35vh;
    }
    .maps {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .hours{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}